.searchInputContainer {
    width: 100%;
    display: flex;
    gap: 1em;
}

.searchForm input[type=submit] {
    padding: 20px;
}

.searchInput {
  flex-grow: 2;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#searchResultsList {
    padding-left: 2em;
}

.moreButton {
    border-radius: 0px;
    padding: 1em;
    margin-top: 1em;
}

.twoColumn {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#map {
    height: 50dvh;
}

.gm-style-iw-ch {
    font-weight: bold;
}

@media only screen and (min-width: 600px) {
    .twoColumn {
        flex-direction: row;
    }
    .rightColumn {
        min-width: 40%;
        flex-grow: 2;
    }
}


/* Style for just the Details Page */
.reviewHeader {
    display: flex;
    gap: 1em;
    align-items: center;
}

.reviewerPhoto {
    max-width: 2em;
}