<label for="restaurant-categories">Select a restaurant category:</label>
<select id="includedType" name="includedType">
    <option value="american_restaurant">American Restaurant</option>
    <option value="bakery">Bakery</option>
    <option value="bar">Bar</option>
    <option value="barbecue_restaurant">Barbecue Restaurant</option>
    <option value="brazilian_restaurant">Brazilian Restaurant</option>
    <option value="breakfast_restaurant">Breakfast Restaurant</option>
    <option value="brunch_restaurant">Brunch Restaurant</option>
    <option value="cafe">Café</option>
    <option value="chinese_restaurant">Chinese Restaurant</option>
    <option value="coffee_shop">Coffee Shop</option>
    <option value="fast_food_restaurant">Fast Food Restaurant</option>
    <option value="french_restaurant">French Restaurant</option>
    <option value="greek_restaurant">Greek Restaurant</option>
    <option value="hamburger_restaurant">Hamburger Restaurant</option>
    <option value="ice_cream_shop">Ice Cream Shop</option>
    <option value="indian_restaurant">Indian Restaurant</option>
    <option value="indonesian_restaurant">Indonesian Restaurant</option>
    <option value="italian_restaurant">Italian Restaurant</option>
    <option value="japanese_restaurant">Japanese Restaurant</option>
    <option value="korean_restaurant">Korean Restaurant</option>
    <option value="lebanese_restaurant">Lebanese Restaurant</option>
    <option value="meal_delivery">Meal Delivery</option>
    <option value="meal_takeaway">Meal Takeaway</option>
    <option value="mediterranean_restaurant">Mediterranean Restaurant</option>
    <option value="mexican_restaurant">Mexican Restaurant</option>
    <option value="middle_eastern_restaurant">Middle Eastern Restaurant</option>
    <option value="pizza_restaurant">Pizza Restaurant</option>
    <option value="ramen_restaurant">Ramen Restaurant</option>
    <option value="restaurant" selected="selected">Restaurant</option>
    <option value="sandwich_shop">Sandwich Shop</option>
    <option value="seafood_restaurant">Seafood Restaurant</option>
    <option value="spanish_restaurant">Spanish Restaurant</option>
    <option value="steak_house">Steak House</option>
    <option value="sushi_restaurant">Sushi Restaurant</option>
    <option value="thai_restaurant">Thai Restaurant</option>
    <option value="turkish_restaurant">Turkish Restaurant</option>
    <option value="vegan_restaurant">Vegan Restaurant</option>
    <option value="vegetarian_restaurant">Vegetarian Restaurant</option>
    <option value="vietnamese_restaurant">Vietnamese Restaurant</option>
</select>
