{% extends 'UserAuth/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'restaurants/style.css' %}">
{% endblock %}
{% block body %}
    <h1>{{ name }}</h1>
    <div class="twoColumn">
        <div class="columnOne">
            {% if isUserAuthenticated %}
                <button id="favButton">
                {% if previouslyFavorite %}
                    Remove from Favorites
                {% else %}
                    Add to Favorites
                {% endif %}
                </button>
            {% else %}
                <button onclick="window.location.href='{% url 'signin' %}'">Sign in to be able to favorite restaurants</button>
            {% endif %}
            <p><strong>Cuisine Type:</strong> {{ cuisineType }}</p>
            <p><strong>Contact Information:</strong> {{ contactInformation }}</p>
            <p><strong>Address:</strong> {{ address }}</p>
            <p><strong>Rating:</strong> {{ rating }}</p>
            <p><strong>Number of Ratings:</strong> {{ numRatings }}</p>
            
            <h2>Opening Hours</h2>
            <ul>
                {% for hour in openingHours %}
                    <li>{{ hour }}</li>
                {% endfor %}
            </ul>
            <h2>Reviews</h2>
            <div id="reviewform">
                <h3>Add your own review of {{ name }}</h3>
                {% if isUserAuthenticated %}
                    <form action='{% url 'details' place_id %}' method="post">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
        
                        <div>
                            <label for="id_title">Title:</label>
                            {{ form.title.errors }}
                            {{ form.title }}
                        </div>
                        <div>
                            <label for="id_rating">Rating:</label>
                            {{ form.rating.errors }}
                            {% for choice in form.rating %}
                                <label>{{ choice.tag }} {{ choice.choice_label }}</label>
                            {% endfor %}
                        </div>
                        <div>
                            {{ form.text.errors }}
                            {{ form.text }}
                        </div>
                        <input type="hidden" id="action" name="action" value="create_a_review">
                        <button type="submit">Submit</button>
                    </form>
                {% else %}
                    <button onclick="window.location.href='{% url 'signin' %}'">Sign in to add your own reviews</button>
                {% endif %}
            </div>

            <ul>
                {% for review in localReviews %}
                    <li>
                        <div class="reviewHeader">
                            {{ review.user.first_name }} {{ review.user.last_name }}<br>
                            {{ review.star_rating }} Stars - {{ review.title }}
                        </div>
                        <p>{{ review.review_text }}</p>
                    </li>
                {% endfor %}
                {% for review in reviews %}
                    <li>
                        <div class="reviewHeader">
                            <img class="reviewerPhoto" src="{{ review.authorAttribution.photoUri }}">
                            {{ review.authorAttribution.displayName }}<br>
                        </div>
                        {% include 'restaurants/ratingToStars.html' with rating=review.rating %}<br>
                        <p>{{ review.text.text }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="rightColumn">
            <div id="map"></div>
            {% include 'restaurants/photoSlideshow.html' %}
        </div>
    </div>
    
 <script>
        (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
            key: "{{GOOGLE_MAPS_API_KEY}}",
            v: "weekly",
        });
    </script>
    <script>
        let pageToken = "{{ searchResults.nextPageToken }}";
        const urlParams = new URLSearchParams(window.location.search);
        const loadMoreButton = document.getElementById("loadMore")
        const loadingIndicator = document.getElementById("loadingIndicator")
        const inputLat = document.querySelector("#inputLat");
        const inputLon = document.querySelector("#inputLon");
        if (pageToken.length !== 0) {
            loadMoreButton.style.display = "block"
        }

        // Initialize and add the map
        let map;

        async function initMap() {
            const center = {lat: {{ lat }}, lng: {{ lon }}};
            // Request needed libraries.
            const {Map, InfoWindow} = await google.maps.importLibrary("maps");
            const {AdvancedMarkerElement} = await google.maps.importLibrary("marker");

            map = new Map(document.getElementById("map"), {
                zoom: 12,
                center: center,
                mapId: "RESULTS_MAP_ID",
            });

            // Create an info window to share between markers.
            const infoWindow = new InfoWindow();
            const restaurantMarker = new AdvancedMarkerElement({
                map: map,
                position: {lat: {{lat}}, lng: {{lon}}},
                title: "{{ name }}",
            });
            // Add a click listener for each marker, and set up the info window.
            restaurantMarker.addListener("click", ({domEvent, latLng}) => {
                const {target} = domEvent;

                infoWindow.close();
                infoWindow.setHeaderContent("{{ name|safe }}");
                infoWindow.setContent(`{{address}}`);
                infoWindow.open(restaurantMarker.map, restaurantMarker);
            })

        }

        initMap();

        document.getElementById("favButton").addEventListener("click", function() {
            const isFavorited = this.textContent.trim() === "Remove from Favorites";
            fetch("{% url 'details' place_id %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                    "X-CSRFToken": "{{ csrf_token }}",
                },
                body: new URLSearchParams({
                    'action': isFavorited ? 'remove_from_favorites' : 'add_to_favorites',
                    'restaurant_id': "{{ place_id }}",
                }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    this.textContent = isFavorited ? "Add to Favorites" : "Remove from Favorites";
                }
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
{% endblock %}