{% extends 'UserAuth/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'restaurants/style.css' %}">
{% endblock %}
{% block body %}
    <form class="searchForm" method="get">
        <label for="q">Restaurant Search</label>
        <br>
        <div class="searchInputContainer">
            <input class="searchInput" type="text" id="q" name="q" value="{{ query }}">
            <input type="submit" value="Submit">
        </div>
        <label for="radius">Search Radius</label>
        <select name="radius" id="radius">
            <option value="1">1 Mile</option>
            <option selected="selected" value="5">5 Miles</option>
            <option value="10">10 Miles</option>
            <option value="20">20 Miles</option>
        </select>
        {% include 'restaurants/cuisineType.html' %}
        <label for="minRating">Min Rating</label>
        <select name="minRating" id="minRating">
            <option selected="selected" value="0">0 Star</option>
            <option value="1">1 Stars</option>
            <option value="2">2 Stars</option>
            <option value="3">3 Stars</option>
            <option value="4">4 Stars</option>
        </select>
        <button id="geoLocationButton">Search with current location</button>
        <input type="hidden" id="inputLat" name="lat"/>
        <input type="hidden" id="inputLon" name="lon"/>
    </form>
    <span id="status"></span>
    {% if query%}
        <div>Showing results for {{ address }}</div>
    {% endif %}
    <div class="twoColumn">
        <div class="searchResultsContainer">
            <ol id="searchResultsList">
                {% include 'restaurants/searchResultsItems.html' %}
            </ol>
            <button class="moreButton" style="display: none" id="loadMore">More</button>
            <div style="display: none" id="loadingIndicator">Loading...</div>
        </div>
        <div id="map"></div>
    </div>
    <script>
        (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
            key: "{{GOOGLE_MAPS_API_KEY}}",
            v: "weekly",
        });
    </script>
    <script>
        let pageToken = "{{ searchResults.nextPageToken }}";
        const urlParams = new URLSearchParams(window.location.search);
        const loadMoreButton = document.getElementById("loadMore")
        const loadingIndicator = document.getElementById("loadingIndicator")
        const inputLat = document.querySelector("#inputLat");
        const inputLon = document.querySelector("#inputLon");
        if (pageToken.length !== 0) {
            loadMoreButton.style.display = "block"
        }

        // Initialize and add the map
        let map;

        async function initMap() {
            if ({% if searchResults.places|length > 0 %}false{% else %}true{% endif %}) {
                return;
            }
            
            console.log({{ searchResults.places|length  }})
            document.getElementById("loadMore").addEventListener("click", loadMore);
            const center = { lat: 33.77457, lng: -84.38907};
            // Request needed libraries.
            const { Map, InfoWindow } = await google.maps.importLibrary("maps");
            const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");
            
            map = new Map(document.getElementById("map"), {
                zoom: 12,
                center: center,
                mapId: "RESULTS_MAP_ID",
            });

            function createMarker(restaurant) {
                const restaurantMarker = new AdvancedMarkerElement({
                    map: map,
                    position: { lat: restaurant.location.latitude, lng: restaurant.location.longitude },
                    title: restaurant.displayName.text,
                });
                // Add a click listener for each marker, and set up the info window.
                restaurantMarker.addListener("click", ({ domEvent, latLng }) => {
                    const { target } = domEvent;

                    infoWindow.close();
                    infoWindow.setHeaderContent(restaurant.displayName.text);
                    infoWindow.setContent(
                    `${restaurant.formattedAddress}
                    <br>
                    <a href="details/${restaurant.id}" tabindex="0"> <span> View Details Page </span> </a>
                    `);
                    infoWindow.open(restaurantMarker.map, restaurantMarker);
                })
            }
            
            // Create an info window to share between markers.
            const infoWindow = new InfoWindow();
            {% for restaurant in searchResults.places %}
                createMarker({{ restaurant|safe  }});
            {% endfor %}

            if (urlParams.get("lat").length > 0 && urlParams.get("lon").length > 0) {
                map.setCenter({
                    lat: parseFloat(urlParams.get("lat")),
                    lng: parseFloat(urlParams.get("lon"))
                })
            }
            
            
            function loadMore() {
                loadMoreButton.style.display = "none"
                loadingIndicator.style.display = "block"
                fetch("{% url "restaurantSearch" %}?" + urlParams.toString() + "&pageToken=" + pageToken)
                    .then(x => x.json())
                    .then(x => {
                        loadingIndicator.style.display = "none"
                        document.getElementById("searchResultsList").innerHTML += x.additionalHtml
                        pageToken = x.nextPageToken
                        if (pageToken.length !== 0) {
                            loadMoreButton.style.display = "block"
                        }
                        for (const restaurant of x.restaurants) {
                            createMarker(restaurant);
                        }
                    })
            }
        }

        initMap();

        const switchModeButton = document.querySelector("#geoLocationButton")
        let isUsingGPS = false;

        // Code modified from https://developer.mozilla.org/en-US/docs/Web/API/Geolocation_API/Using_the_Geolocation_API
        function getGeoLocation() {

            if (isUsingGPS) {
                inputLat.value = "";
                inputLon.value = "";
                isUsingGPS = false;
                switchModeButton.innerText = "Search with current location"
                return;
            }
            const status = document.querySelector("#status");

            function success(position) {
                isUsingGPS = true;
                const latitude = position.coords.latitude;
                const longitude = position.coords.longitude;

                status.textContent = "";
                inputLat.value = latitude;
                inputLon.value = longitude;

                switchModeButton.innerText = "Search based on the center of Atlanta";
            }

            function error() {
                status.textContent = "Unable to retrieve your location";
            }

            if (!navigator.geolocation) {
                status.textContent = "Geolocation is not supported by your browser";
            } else {
                status.textContent = "Locating…";
                navigator.geolocation.getCurrentPosition(success, error);
            }
        }

        switchModeButton.addEventListener("click", getGeoLocation);

        // Set the Form fields based on the previous query
        if (urlParams.has("lat") && urlParams.has("lon") && urlParams.get("lat").length > 0 && urlParams.get("lon").length > 0) {
            switchModeButton.innerText = "Search based on the center of Atlanta";
            isUsingGPS = true;
            inputLat.value = urlParams.get("lat");
            inputLon.value = urlParams.get("lon");
        }

        if (urlParams.has("radius") && urlParams.get("radius").length > 0) {
            document.getElementById("radius").value = urlParams.get("radius")
        }
        
        if (urlParams.has("includedType")) {
            document.getElementById("includedType").value = urlParams.get("includedType")
        }
        
        if (urlParams.has("minRating") && urlParams.get("minRating").length > 0) {
            document.getElementById("minRating").value = urlParams.get("minRating")
        }
    </script>
{% endblock %}
