{% for restaurant in searchResults.places %}
    <li>
        <a href="details/{{ restaurant.id }}">
            <h2>{{ restaurant.displayName.text }}</h2>
            <div>
                {% if restaurant.priceLevel == "PRICE_LEVEL_INEXPENSIVE" %}
                    $
                {% endif %}

                {% if restaurant.priceLevel == "PRICE_LEVEL_MODERATE" %}
                    $$
                {% endif %}
                {% if restaurant.priceLevel == "PRICE_LEVEL_EXPENSIVE" %}
                    $$$
                {% endif %}
                {% if restaurant.priceLevel == "PRICE_LEVEL_VERY_EXPENSIVE" %}
                    $$$$
                {% endif %}
            </div>
            <div>{{ restaurant.formattedAddress }}</div>
            <div>{{ restaurant.shortFormattedAddress }}</div>
        </a>
    </li>
{% endfor %}
