{% extends 'UserAuth/base.html' %}
{% load static %}
{% block body %}
    <h1>Welcome to ATL Food Finder!</h1>
    <div class="featuresAdContainer">
        <div class="featuresAd">
            <h2>Search for restaurants in ATL or near you</h2>
            <img src="{% static 'UserAuth/images/search.png' %}" alt="an example of of the search results page">
        </div>
        <div class="featuresAd">
            <h2>Create a list of your favorite restaurants</h2>
            <img src="{% static 'UserAuth/images/favorites.png' %}" alt="the favorites list on the profile page">
        </div>
        <div class="featuresAd">
            <h2>Leave reviews to help fellow users choose restaurants</h2>
            <img src="{% static 'UserAuth/images/reviews.png' %}" alt="an example of using the review functionality">
        </div>
        <div class="featuresAd">
            <h2>Find important details about restaurants like operating hours</h2>
            <img src="{% static 'UserAuth/images/details.png' %}" alt="an example of a details page for a restaurant">
        </div>
    </div>
{% endblock %}